body, h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif
}

body, html {
  height: 100%;
  line-height: 1.8
}

.image {
  background-position: center;
  background-size: cover;
  background-image: url("math.jpg");
  min-height: 100%;
}

.container {
  position: relative;
  text-align: center;
  color: white;
  min-height: 100%;
}

.rectangle {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: black;
  color: white;
}

.frost {
  padding-top: 24px;
  padding-bottom: 24px;
  align-content: center;
  background-color: white;
  opacity: 0.2;
}

.pad {
  padding: 250px;
}

.heading {
  font-size: 350px;
  font-weight: bold;
  line-height: 1;
  opacity: 1;
}

.tailing {
  font-size: 50px;
  opacity: 1;
}

.center {
  align-content: center;
}

.fade {
  animation: opac 2s}@keyframes opac{from{opacity:0} to{opacity:1}
}
